@tailwind base;
@tailwind components;
@tailwind utilities;

.processSteps--desktopThroughLine {
  position: absolute;
  top: calc(178px / 1.6);
  left: calc(178px / 2);
  width: calc(100% - 178px);
  height: 2px;
  stroke-width: 2px;
  stroke: #e1e5eb;
}
